body {
  background: #f3e5f5;
}

.star {
  color: gold !important;
}

.extra {
  font-weight: 900;
  color: black !important;
  margin: 0 0.25rem;
}

.header {
  font-weight: bold !important;
  color: black !important;
}

.addMovie {
  background-color: none !important;
  margin: 20px;
}

.form {
  padding: 20px;
}

.colorcard {
  margin: 10px;
  height: 240px;
  width: 230px;
}

.like {
  margin-right: 20px !important;
}

.black {
  background-color: black !important;
  color: white !important;
}

.editMovie {
  background-color: none !important;
  margin: 20px;
}

.error {
  display: inline !important;
  padding: 0 !important;
}
